<!doctype html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>All Users</title><link rel="stylesheet" href="/style.css">
</head>
	
<body>
	<h1>All Users</h1>
	<p>These are all the users on this platform</p>
	<ul>
		<% for (let user in body) { %>
		<li><a href="/users/<%- body[user].user.name -%>"><%- body[user].user.name -%></a></li>
		<% } %>
	</ul>
</body>
</html>