<!DOCTYPE html>
<html lang="en">
	
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Authentication</title>
	<link rel="stylesheet" href="/style.css">
</head>
	
<body>
	<h1>Authentication</h1>
	<nav>
		<a href="/" class="nav">Back Home</a>
	</nav>
	<a href="/auth/login?method=1" class="button">Cloud Data(recommended)</a>
	<a href="/auth/login?method=0" class="button">Comment</a>
	<p><a href="/signin" class="button">Use Scratch Auth Directly</a> <% if (saved) { %><a href="/auth/oneclick" class="button">Oneclick Signin</a><% } %></p>
</body>
	
</html>