<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	<h1>Personal Stickies</h1>
	<% if (!bool) { %>
	<a class="account" href="/signin">Login</a>
	<% } else { %>
	<nav>
		<a class="nav" href="/add">Add Stickies</a>
		<a class="nav" href="/remove">Remove Sticky</a>
		<a class="nav" href="/me">My Profile</a>
	</nav>
	<a class="account" href="/logout">Logout</a>
	<% } %>
	<form action="/api/user_redirect">
		<label for="user">Find a user:</label>
		<input required type="text" id="user" name="user">
		<p>
			<input type="submit" value="Go to profile">
			<a href="/all_users" class="button">See All Users</a>
		</p>
	</form>
	<footer>
		<a href="/credits" class="nav">Credits</a>
		<a href="/api" class="nav">API Docs</a>
	</footer>
</body>

</html>