<!DOCTYPE html>
<html lang="en" class="<%- theme -%>">
	
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Authentication</title>
	<link rel="stylesheet" href="/style.css">
</head>
	
<body>
	<h1>Authentication</h1>
	<form action="/auth/oneclick/finally">
		<select name="index" id="index" required>
			<% for (let i = 0; i < tokens.length; i++) { %>
				<option value="<%- i -%>"><%- tokens[i].user -%></option>
			<% } %>
		</select>
		<label for="index">User</label><br>
		<input type="submit" value="Signin">
	</form>
</body>
	
</html>