<!DOCTYPE html>
<html lang="en" class="<%- theme -%>">
	
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add Topic</title>
	<link rel="stylesheet" href="/style.css">
	<noscript>Unforchunatly, with JavaScript turned off for this website, you are unable to use the preview feature.</noscript>
</head>
	
<body>
	<h1>Add a Topic</h1>
	<nav>
		<a href="/" class="nav">Back Home</a>
		<a href="/remove" class="nav">Remove a Topic</a>
		<a class="nav" href="/me">My Profile</a>
	</nav>
	<form action="/api/parseURL" method="get">
		<fieldset>
			<legend>From URL</legend>
			<input type="url" required name="url" placeholder="https://scratch.mit.edu/discuss/topic/..." pattern="https?://scratch\.mit\.edu\/discuss\/topic\/.+">
			<input type="submit" value="Add From URL">
			<button class="preview" type="button" onclick="preview(this.parentElement.querySelector('input').value.split('/')[5])">Preview</button>
		</fieldset>
	</form>
	<form action="/api/add" method="get">
		<fieldset>
			<legend>From Id</legend>
			<input type="number" placeholder="..." required name="topicId">
			<input type="submit" value="Add From Id">
			<button class="preview" type="button" onclick="preview(this.parentElement.querySelector('input').value.toString())">Preview</button>
		</fieldset>
	</form>
	<dialog>
		<button id="close_preview">X</button>
		<h2>Previewing</h2>
		<div id="preview"></div>
	</dialog>
	<iframe class="me" src="/me_embed"></iframe>
	<script src="/preview.js"></script>
</body>
	
</html>