<!DOCTYPE html>
<html lang="en" class="<%- theme -%>">
	
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Authentication</title>
	<link rel="stylesheet" href="/style.css">
</head>
	
<body>
	<h1>Authentication</h1>
	<p>This is fairly demanding for Scratch Auth. Please use one click sign in if you've already already signed in via this method.</p>
	<form action="/auth/login">
		<input type="text" name="method" style="display:none" value="profile-comment">
		<input type="text" name="user" placeholder="Username" required>
		<p><input type="submit" value="Get Code"></p>
	</form>
</body>
	
</html>