<!DOCTYPE html>
<html lang="en">
	
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Authentication</title>
	<link rel="stylesheet" href="/style.css">
</head>
	
<body>
	<h1>Authentication</h1>
	<form action="/auth/final">
		<input type="text" style="display:none" name="c" value="<%- private -%>">
		<input type="text" value="<%- code -%>" readonly id="copy"> <button type="button" style="display:inline-block" id="copy_button">Copy Code</button><br>
		<input type="checkbox" name="save" id="save"> <label for="save">Add for One Click Sign In</label><br>
		<noscript>JavaScript needs to be enabled for your to be able to copy the code with the button above.<br></noscript>
		<a href="https://scratch.mit.edu/users/<%- user -%>#comments" target="_blank" class="button">Go To Profile</a> <input type="submit" value="Authenticate">
	</form>
	<script src="/copy.js"></script>
</body>
	
</html>