<!DOCTYPE html>
<html lang="en" class="<%- theme -%>">
	
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Remove a Topic</title>
	<link rel="stylesheet" href="/style.css">
</head>
	
<body>
	<h1>Remove a Topic</h1>
	<nav>
		<a href="/" class="nav">Back Home</a>
		<a class="nav" href="/add">Add a Topic</a>
		<a class="nav" href="/me">My Profile</a>
	</nav>
	<form action="/api/remove" method="get">
		<fieldset>
			<legend>Remove Topic</legend>
			<select required name="topicId">
				<% for (let s of stickies) { %>
				<option <% if (stickies.indexOf(s) === 0) { %><% } %> value="<%- s.topic_ID -%>"><%- s.topic_NAME -%> by <%- s.topic_OWNER -%></option>
				<% } %>
			</select>
			<input type="submit" value="Remove Topic">
		</fieldset>
	</form>
	<iframe class="me" src="/me_embed"></iframe>
</body>
	
</html>