@import url(https://rsms.me/inter/inter.css);

:root {
	--logos_size: 16px;
	--logos_space: 16px;
	--logos_options: left no-repeat;
}

body {
	font-family: 'Inter', sans-serif;
	max-width: 50rem;
	margin: 0 auto;
	padding: 3rem 2rem;
}

:any-link.account,
button,
input[type="submit"],
:any-link.button {
	background: #ddd;
	width: fit-content;
	border: none;
	font: inherit;
	font-size: inherit;
	text-decoration: none;
	color: black;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	cursor: pointer;
	transition: all 0.2s;
}

:any-link.account:hover,
button:hover,
input[type="submit"]:hover,
:any-link.button:hover {
	background: #ccc;
}

:any-link.account,
button,
.new_line {
	display: block;
}

input:not([type="submit"]),
select,
textarea {
	font: inherit;
	background-color: white;
	font-size: inherit;
	color: #001;
	border: #ccc solid 1px;
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
}

select {
	margin-bottom: .25em;
}

form {
	margin: 0.5rem 0;
}

:any-link.nav {
	color: purple;
	margin: 0 1rem;
	text-decoration: none;
}

:any-link.nav::after {
	content: " ›";
}

nav {
	margin-bottom: 1rem;
}

dialog {
	padding: 1em;
	padding-top: 0;
}

.preview {
	margin-top: 2px;
}

.me {
	min-width: 100%;
	min-height: 1rem;
	border: none;
}

#close_preview {
	background: inherit;
	color: black;
	display: inline-block;
	font-size: 1rem;
	position: absolute;
	right: 5%;
}

code {
	background-color: #eee;
	font-family: monospace;
	font-size: 1rem;
	font-weight: bold;
	color: black;
}

code.smaller {
	font-size: initial;
	font-weight: normal;
}

code.snippet {
	white-space: pre-wrap;
	display: block;
	padding: 2.5px;
}

:any-link.github::before {
	content: "  ";
	padding-left: var(--logos_space);
	background: url("/icons/github.png") var(--logos_options);
	background-size: var(--logos_size);
	filter: brightness(0%);
}

:any-link.scratch::before {
	content: "  ";
	padding-left: var(--logos_space);
	background: url("/icons/scratch.png") var(--logos_options);
	background-size: var(--logos_size);
	filter: grayscale(100%);
}

:any-link.their_stickies::before {
	content: "  ";
	padding-left: var(--logos_space);
	background: url("/favicon.ico") var(--logos_options);
	background-size: var(--logos_size);
	filter: brightness(0%);
}

.area {
	padding: 15px;
	background-color: #eee;
	border-radius: 5px;
	margin: 2px;
}

.input {
	padding: 5px;
	background-color: #fff;
	border: #000 1px solid;
	border-radius: 5px;
	cursor: move;
}

#bb-code {
	margin-top: 1rem;
	padding: 15px;
}