@import url(inter/inter.css);

html.light {
	color: #000;
	background: #fff;
	--credits: brightness(0);
	--pin-filter: rotate-hue(0deg);
	--link: #1aa0d8;
	--closed-pin-filter: grayscale() brightness(0.8);
	--closed-link: #888;
	--button-background: #ddd;
	--button-color: black;
	--button-background-hover: #ccc;
	--input-background: white;
	--input-color: #001;
	--input-border: #ccc;
	--nav-color: purple;
	--preview-color: black;
	--code-background: #eee;
	--code-color: black;
	--area-background: #eee;
	--i-background: #fff;
	--i-border: #000;
	--toc-background: #0001;
	--toc-item: #900;
	--dialog-color: black;
	--dialog-background: white;
	--dialog-border: #000;
}

html.dark {
	color: #fff;
	background: #000;
	--credits: brightness(100);
	--pin-filter: rotate-hue(0deg);
	--link: #45cbff;
	--closed-pin-filter: grayscale() brightness(3);
	--closed-link: #d9d9d9;
	--button-background: #2a2a2a;
	--button-color: white;
	--button-background-hover: #3f3f3f;
	--input-background: black;
	--input-color: #ffe;
	--input-border: #fff;
	--nav-color: #5f5;
	--preview-color: white;
	--code-background: #333;
	--code-color: white;
	--area-background: #252525;
	--i-background: #000;
	--i-border: #fff;
	--toc-background: #fff2;
	--toc-item: #f59;
	--dialog-color: white;
	--dialog-background: #232323;
	--dialog-border: #ccc;
}

:root {
	--logos_size: 16px;
	--logos_space: 16px;
	--logos_options: left no-repeat;
}

:any-link {
	color: var(--link);
}

body {
	font-family: 'Inter', sans-serif;
	max-width: 50rem;
	margin: 0 auto;
	padding: 3rem 2rem;
}

@supports (font-variation-settings: normal) {
  body {
		font-family: 'Inter var', sans-serif;
	}
}

:any-link.account,
button,
input[type="submit"],
:any-link.button {
	background: var(--button-background);
	width: fit-content;
	border: none;
	font: inherit;
	font-size: inherit;
	text-decoration: none;
	color: var(--button-color);
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	cursor: pointer;
	transition: all 0.2s;
}

@media screen and (max-device-width: 640px) {
	button,
	input[type="submit"],
	:any-link {
		font-size: calc(5vw - .1rem);
		word-wrap: inherit;
		margin-top: 5px;
		display: inline-block;
	}

	input:not([type="submit"]):focus,
	select:focus-within,
	textarea:focus {
		font-size: 1.25rem;
	}

	input:not([type="submit"]),
	select,
	textarea {
		font-size: 1rem;
	}

	.snippet {
		tab-size: 2;
	}

	textarea {
		max-width: 100%;
	}
}

:any-link.account:hover:not([disabled]),
button:hover:not([disabled]),
input[type="submit"]:hover:not([disabled]),
:any-link.button:hover:not([disabled]) {
	background: var(--button-background-hover);
}

[disabled] {
	cursor: no-drop !important;
}

:any-link.account,
button,
.new_line {
	display: block;
}

input:not([type="submit"]),
select,
textarea {
	font: inherit;
	background-color: var(--input-background);
	font-size: inherit;
	color: var(--input-color);
	border: var(--input-border) solid 1px;
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
}

select {
	margin-bottom: .25em;
}

form {
	margin: 0.5rem 0;
}

:any-link.nav {
	color: var(--nav-color);
	margin: 0 1rem;
	text-decoration: none;
}

:any-link.nav::after {
	content: " ›";
}

nav {
	margin-bottom: 1rem;
}

dialog {
	padding: 1em;
	padding-top: 0;
	background-color: var(--dialog-background);
	color: var(--dialog-color);
	border-color: var(--dialog-border);
}

.preview {
	margin-top: 2px;
}

.me {
	min-width: 100%;
	min-height: 1rem;
	border: none;
}

#close_preview {
	background: inherit;
	color: var(--preview-color);
	display: inline-block;
	font-weight: 900;
	font-size: 1rem;
	position: absolute;
	right: 5%;
	top: 5px;
}

code {
	background-color: var(--code-background);
	font-family: monospace;
	font-size: 1rem;
	font-weight: bold;
	color: var(--code-color);
}

code.smaller {
	font-size: initial;
	font-weight: normal;
}

code.snippet {
	white-space: pre-wrap;
	display: block;
	padding: 2.5px;
}

:any-link.github::before {
	content: "  ";
	padding-left: var(--logos_space);
	background: url("/icons/github.png") var(--logos_options);
	background-size: var(--logos_size);
	filter: var(--credits);
}

:any-link.scratch::before {
	content: "  ";
	padding-left: var(--logos_space);
	background: url("/icons/scratch.png") var(--logos_options);
	background-size: var(--logos_size);
	filter: var(--credits);
}

:any-link.their_stickies::before {
	content: "  ";
	padding-left: var(--logos_space);
	background: url("/favicon.ico") var(--logos_options);
	background-size: var(--logos_size);
	filter: var(--credits);
}

.area {
	padding: 15px;
	background-color: var(--area-background);
	border-radius: 5px;
	margin: 2px;
}

.input {
	padding: 5px;
	background-color: var(--i-background);
	border: var(--i-border) 1px solid;
	border-radius: 5px;
	cursor: move;
}

#bb-code {
	margin-top: 1rem;
	padding: 15px;
}

.tableOfContents {
	background-color: var(--toc-background);
	padding: 5px;
}

.tocItem {
	text-decoration: none;
	color: var(--toc-item) !important;
	display: block;
}

:any-link.closed {
	color: var(--closed-link);
}

.sticky_icon {
	filter: var(--pin-filter);
}

.sticky_icon.closed {
	filter: var(--closed-pin-filter);
}